* {
    box-sizing: border-box;

    /* Temporary border For UI tweaking. */
    /* border-style: solid;
    border-width: 1px; */
}

/* body {
    background-color: #2d2d2d;
    color: white;
} */

/* For text floating around an image
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

    .item-image {
        /* width:  160px; */
        height: 160px;
    }

